<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TombolaLottery"></activity>
        <activity android:name=".SignUpAndSignInActivity" />
        <activity android:name=".Payment2" />
        <activity android:name=".GenaLottery" />
        <activity android:name=".EnkutatashLottery" />
        <activity android:name=".OtherLotteryTypes" />
        <activity android:name=".BingoLottery" />
        <activity android:name=".IntentToAllFetanLottery" />
        <activity android:name=".NationalLottery" />
        <activity android:name=".Payment" />
        <activity android:name=".InstantLottery" />
        <activity android:name=".ZhonLottery" />
        <activity android:name=".IntentToLotteryTypes" />
        <activity android:name=".AllOperations" />
        <activity android:name=".ResetPasswordActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <!--
<service
            android:name=".viewModels.MyService"
            android:enabled="true"
            android:exported="true" />
        -->
        <!-- <activity android:name=".Main2Activity" /> -->
        <!-- <activity android:name=".RegisterActivity" /> -->
        <!--
<activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        -->
        <!-- remove android:screenOrientation="portrait" if any error happened in the screen -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- android:name=".MainActivity"   ezuy leeli  android:label="@string/app_name" neyru -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="b62c524076a85160c6df26a793355e5fc73ee979" />
    </application>

</manifest>